<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.example.electronicshop.registration.CaptchaServlet</servlet-class>
    </servlet>
    <listener>
        <listener-class>com.example.electronicshop.utils.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>storeType</param-name>
        <!-->Possible value's
         session - captcha store in session
         cookie - captcha store in cookie
         field - captcha store in hidden fields
         <-->
        <param-value>field</param-value>
    </context-param>
    <context-param>
        <param-name>ImageStorage</param-name>
        <param-value>D:\</param-value>
    </context-param>
    <context-param>
        <param-name>dbType</param-name>
        <!-->Possible value's
         map - captcha store in session
         MY_SQL - captcha store in cookie
         <-->
        <param-value>MY_SQL</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
</web-app>